* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: montserrat, san-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.container {
  margin: 0;
  padding: 0;
  background-color: white;

  width: 100%;
}

.mjx-chtml {
  white-space: normal !important;
}

.MathJax_Preview {
  display: none;
}

li {
  list-style: none;
  border: 2px solid grey;
  border-radius: 8px;
}
